<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Facebook_Group_Manager.SettingsTool" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Facebook_Group_Manager.SettingsTool>
            <setting name="FacebookCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="FacebookToken" serializeAs="String">
                <value />
            </setting>
        </Facebook_Group_Manager.SettingsTool>
    </userSettings>
</configuration>